body {
  font-family: 'Josefin Sans', sans-serif;
  background: whitesmoke;
}
.full-height {
 height: 100vh;
 overflow: hidden;
}
.chat-box {
  height: 94vh;
  overflow: scroll;
}
.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}
.chat-username {
  font-size: 0.7rem;
}
.chat-message {
  font-size: 0.85rem;
}

