<div class="banner">
  <div class="banner-content">
    <h1>Icebreaker </h1>
    <p>Your new friends are waiting for you</p>
    <!-- <img class="bear" src="http://hddfhm.com/images/polar-bear-clipart-icons-9.png" alt=""> -->
    <%= image_tag "polar_bear_white.svg", class: "bear" %>
    <br>
    <br>

    <%= link_to events_path(@event), class: "particle", id: "orangebtn", method: :post do %>
    <span class="margin-top">CREATE EVENT</span>
    <% end %>

    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
  </div>
  <div class="title">

     <% if @events.count == 1 %>
     <h4 class="events_nearby text-center"> <a href="#" id="scroll"> <%= "#{@events.count} event near you" %> </a> </h4>

     <% elsif @events.count > 0 %>
     <h4 class="events_nearby text-center">
      <a href="#" id="scroll"> <%= "#{@events.count} events near you" %> </a> </h4>

      <% else %>
      <h4 class="events_nearby text-center">no events near you</h4>
      <% end %>
    </div>
</div>
<section id="section07" class="demo scroll2">
  <a href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
</section>


