<!-- front content -->
<div class="card-white">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @event.photo_url %>);">
    </div>
  <div class="card-category"><%= event.place_name %></div>
    <div class="card-user-show">| <%= event.users.count %>  <i class="fas fa-users"></i></div>
    <div class="card-description"><%= event.time.strftime('%d-%h | %Hh%Mm') %></div>
    <div class="card-update"><button class="btn btn-primary" id="myCard">Edit</button></div>
</div>







