<!-- front content -->
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <img class="card-img img-fluid" src="<%= @event.photo_url %>">
      <div class="card-img-overlay">
        <div class="card-category"><%= event.place_name %></div>
        <div class="card-description">
          <%= event.time.strftime('%d-%h | %Hh%Mm') %>
        </div>
      </div>
    </div>
  </div>
</div>






