<% @events.each do |event| %>
<% if event.status? %>
<div class="row justify-content-center">
      <div class="col-xs-12">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= event.photo_url %>);">
          <div class="card-category"><%= event.place_name %></div>
          <div class="card-description">
            <%= event.time.strftime('%d-%h | %Hh%Mm') %>
          </div>
          <%= link_to "", event, class: "card-link" %>
        </div>
      </div>
</div>
<br>
<% end %>
  <% end %>
