<% penguins = ["babyblue", "blue", "ginger", "green", "orange", "pink", "purple", "violet", "yellow"] %>
<div class="chat-you" id="chat-all2">
 <div class="chat-bubble2" id="bubble2">
   <span class="chat-user"><strong><%= chat.username %></strong></span>
   <br>
   <span class="chat-message2"><%= chat.message %></span>
 </div>
</div>
