<% penguins = ["babyblue", "blue", "ginger", "green", "orange", "pink", "purple", "violet", "yellow"] %>
<div class="chat-you" id="chat-all2">
  <div class="pic-name">
   <img class="penguin" src="<%= image_path "penguins/penguin-#{penguins.sample}.png" %>">
   <br>
   <%= chat.username %>
 </div>
 <div class="chat-bubble" id="bubble2">
   <p class="m-0 chat-message"><%= chat.message %></p>
 </div>
</div>
