<div class="chat-me">
 <div class="chat-bubble" id="bubble">
   <p class="m-0 chat-message"><%= chat.message %></p>
 </div>
 <div class="pic-name">
   <img class="penguin" src="https://vignette.wikia.nocookie.net/farmville/images/e/e9/White_Baby_Penguin-icon.png/revision/latest?cb=20121101164636">
   <br>
   <%= chat.username %>
 </div>
</div>
