<div class="chat-me">
 <div class="chat-bubble" id="bubble">
   <p class="m-0 chat-message"><%= chat.message %></p>
 </div>
 <div class="pic-name">
   <img class="penguin" src="<%= image_path "penguins/penguin.png" %>">
   <br>
   <%= chat.username %>
 </div>
</div>
