<div class="chat-you" id="chat-all2">
  <div class="pic-name">
   <img class="penguin" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO_v8ReA8GFkfLV3V4Hv43b9zO3VWtLpMnzm9chfh3dz-zkAWW">
   <br>
   <%= chat.username %>
 </div>
 <div class="chat-bubble" id="bubble2">
   <p class="m-0 chat-message"><%= chat.message %></p>
 </div>
</div>
