$(document).ready((function(_this) {
 return function() {
   var channel, pusher, updateChat, username;
   username = '';
   updateChat = function(data) {


     var ev = $('.chat-box').attr('id');
     var user = $('.chat-text-input').attr('id');
     // console.log(ev);

     <% penguins = ["babyblue", "blue", "ginger", "green", "orange", "pink", "purple", "violet", "yellow"] %>

     if (ev == data.event_id) {
       // $('.chat-box').append("<div class=\"chat-all\"> <div class=\"pic-name\"> <img class=\"penguin\" src=\"https://vignette.wikia.nocookie.net/farmville/images/e/e9/White_Baby_Penguin-icon.png/revision/latest?cb=20121101164636\"><br>" + data.username + "</div> <div class=\"chat-bubble\"> <p class=\"m-0 chat-message\">"  + data.message + "</p> </div></div>");

       if(user == data.username) {
        $('.chat-box').append("<div class=\"chat-me\"><div class=\"chat-bubble\" id=\"bubble\"><p class=\"m-0 chat-message\">" + data.message + "</div>");
      $(".chat-box").scrollTop($(".chat-box")[0].scrollHeight);
      }else{
        $('.chat-box').append("\n<div class=\"chat-you\"id=\"chat-all2\">\n<div class=\"chat-bubble2\" id=\"bubble2\">\n<span class=\"chat-user\"><strong>" + data.username + "</strong></span>\n<br>\n<span class=\"chat-message2\">" + data.message + "</span>\n</div>\n</div>");
      $(".chat-box").scrollTop($(".chat-box")[0].scrollHeight);
      }
    }

  };
  $('#chat-form').on('ajax:success', function(data) {
   $('#chat-form')[0].reset();
 });

  pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>', {
   cluster: '<%= ENV["PUSHER_CLUSTER"] %>',
   encrypted: true
 });

  channel = pusher.subscribe('chat');
  channel.bind('new', function(data) {
   updateChat(data);
 });
};
})(this));
