.card {
  height: 21vh;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  border-radius: 2px;
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 3px;
  // width: 40px;
  // border-radius: 50%;
}
.card-user-show {
  position: absolute;
  right: 97px;
  bottom: 10px;
}
.card-gmaps a {
  position: absolute;
  right: 17px;
  bottom: 34px;
  color: black;
  font-size: 25px;
  a {
    text-decoration: none;
  }
}
.card-update {
  position: absolute;
  right: 10px;
  bottom: 3px;
  font-size: 25px;
}
.card-category {
  position: absolute;
  bottom: 40px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-category-index {
  position: absolute;
  bottom: 27px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
}
.card-description-index {
  position: absolute;
  bottom: 3px;
  left: 10px;
  color: black;
}
.card-description-index a {
  color: black;
  text-decoration: none;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-white {
  background-color: whitesmoke;
  height: 33vh;
  position: relative;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgb(150,150,150);
}
.confirmation {
  color: whitesmoke;
  text-shadow: 0px 0px 1px rgb(150,150,150);
  position: relative;
  a {
  color: whitesmoke;
  text-decoration: none;
  }
}
