.full-height {
height: 50vh;
overflow: hidden;
}
.container-fluid {
 background-color: whitesmoke;
}
.chat-box {
height: 50vh;
overflow: scroll;
background: whitesmoke;
}
.chat {
border-radius: 3px;
padding: 0rem 2rem 0 1rem;
}
.chat-username {
font-size: 0.7rem;
}
.chat-message {
font-size: 0.85rem;
padding: 10px;
padding-right: 15px;
}
.chat-bubble {
background-color: #BD2F3A;
color: white;
text-shadow: .3px .3px .3px white;
padding-left: 10px;
border-radius: 20px;
margin: 10px;
}
.img_text {
display: flex;
justify-content: left;
}
.penguin {
height: 30px;
margin-top: 7px;
}
.bubble-message {
margin-left: 10px;
}
.form-control {
 margin: 10px;
}
#row_box {
 display: flex;
 justify-content: left;
 background-color: whitesmoke;
}
.send-message {
 color: black;
}
.send {
 margin: auto;
}
.chat-all {
 display: flex;
 justify-content: left;
 margin-bottom: 20px;
}
.pic-name {
 text-align: center;
 display: inline-block;
 margin-top: auto;
 margin-bottom: auto;
}

